/* #ebbcba */
/* #f6c177 */
/* #9ccfd8 */
/* #31748f */
/* #e0def4 */
/* #555169 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

.wrapper{
    display: flex;
    position: relative;
}

.wrapper .sidenav{
    position: fixed;
    width: 300px;
    height: 100%;
    background: #9ccfd8;
}

.wrapper .sidenav ul li{
    padding: 15px;
}

.wrapper .sidenav ul li a{
    display: block;
}

.boxes{
    display: grid;
    grid-template-columns: 33%,33%,33%;
    margin-left: 20%;
    align-items: baseline;
}

#cont1{
    margin: 100px;
    padding: 10px;
    height: 20ex;
    border: 1px;
    width: 20em;
    border: black;
    background-color: #e0def4;
    grid-column-start: 1;
    align-content: center;
}

#cont2{
    margin: 100px;
    padding: 10px;
    height: 20ex;
    border: 1px;
    width: 20em;
    border: black;
    background-color: #e0def4;
    grid-column-start: 2;
}

#cont3{
    margin: 100px;
    padding: 10px;
    height: 20ex;
    border: 1px;
    width: 20em;
    border: black;
    background-color: #e0def4;
    grid-column-start: 3;
}

.create{
    display: grid;
    grid-template-rows: 16%, 16%, 16%, 16%, 16%, 16%;
    align-items: center;
    width: 100%;
    padding: 150px;
    box-sizing: border-box;
    margin: 200px;
    margin-top: 0%;
}

img{
    padding: 15px;
    box-sizing: border-box;
    width: 50%;
    border: 2px;
    border-radius: 2px;
    max-width: 20%;
    border-radius: 80%;
}

#fname{
    grid-row-start: 2;
}

#Phone{
    grid-row-start: 3;
}

#Addy{
    grid-row-start: 4;
}

#Email{
    grid-row-start: 5;
}

body{
    background: #31748f;
}
.create input[type = 'text'],
.create input[type = 'tel'],
.create input[type = 'email'],
.create textarea{
    padding: 15px;
    box-sizing: border-box;
    width: 50%;
    border: 2px;
    border-radius: 2px;
}

.buttons{
    display: flex;
}

#button1{
    flex: 1;
    padding: 10px;
    border-radius: 2px;
    max-width: 300px;
    background-color: #e0def4;
    text-align: center;
    margin-right: 50px;
}

#button2{
    flex: 2;
    padding: 1px;
    border: 2px;
    max-width: 252px;
    background-color: #e0def4;
    text-align: center;
}

p{
    display: flex;
    justify-content: left;
    position: relative; right: 450px; top: 200px;
    text-align: left;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    color: black;
}

#image{
 position: relative; left: 750px; top: 100px;
}

@media (min-width: 750px){
    p{
        font-size: 30px;
    }
    img{
        padding: 15px;
        box-sizing: border-box;
        width: 50%;
        border: 2px;
        border-radius: 2px;
        max-width: 20%;
        border-radius: 80%;
    }
    #image{
        position: relative; left: 750px; top: 100px;

    }
}

@media (max-width: 500px){
    p{
        font-size: 15px;
        orientation: portrait;
    }
    img{
        max-width: 100%;
        height: 100%;
        object-fit: fill;
    }
    .create input[type = 'text'],
    .create input[type = 'tel'],
    .create input[type = 'email'],
    .create textarea{
        padding: 15px;
        box-sizing: border-box;
        width: 100%;
        border: 20px;
        border-radius: 20px;
    }

    .boxes{
        margin-left: 5%;
    }

    .wrapper .sidenav{
        position: fixed;
        width: 30%;
        height: 100%;
        background: #9ccfd8;
    }
}